<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6 no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7 is-ie" lang="{{=it.lang}}"> <![endif]-->
<!--[if IE 7]><html class="ie7 no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 is-ie" lang="{{=it.lang}}"> <![endif]-->
<!--[if IE 8]><html class="ie8 no-js lt-ie11 lt-ie10 lt-ie9 is-ie" lang="{{=it.lang}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 no-js lt-ie11 lt-ie10 is-ie" lang="{{=it.lang}}"> <![endif]-->
<!--[if IE 10]><html class="ie10 no-js lt-ie11 is-ie" lang="{{=it.lang}}"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js" lang="{{=it.lang}}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{= it.title }}</title>
        <meta name="description" content="{{=it.description}}">

        <meta name="apple-mobile-web-app-title" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

        <meta content="en" http-equiv="Content-Language"/>

        <meta name="author"    content="Danetag" />
        <meta name="copyright" content="Danetag" />
        <meta name="publisher" content="Danetag" />
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes"/>

        <!-- FB OPENGRAPH -->
        <meta property="og:title" content="{{= it.title }}" />
        <meta property="og:url" content="{{= it.base_url }}" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />

        <!-- GOOGLE PLUS -->
        <meta itemprop="name" content="" />
        <meta itemprop="description" content="" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/gif" href="{{= it.base_url }}/img/favicon.gif" />
        <link rel="icon" type="image/gif" href="{{= it.base_url }}/img/favicon.gif" />

        <script type="text/javascript">

            var lang           = "{{= it.lang }}";
            var baseURL        = "{{= it.base_url }}";

        </script>

        <!-- CSS -->
        <link rel="stylesheet" href="{{= it.base_url }}/css/app.css">

    </head>
  <body>
    
    {{=it.body}}

    <script src="{{= it.base_url }}/js/app.js"></script>

  </body>
</html>