html {
	ffregular();
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	
	background-color:#FFF;
	font-size: 100%;
	margin: 0;
	
	&.init {
		
	    #content,
	    #menu,
	    h1 {
	      display: block;
	    }

 	}

}

.has-js body {
	background-color:#000;
	
	&.init {
		background-color:#FFF;
	}
}

.has-js #content,
.has-js #menu,
.has-js h1{
  display: none;
}
