@import 'nib';

global-reset();

* {
  box-sizing: border-box;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

button {
  em(16px);
  ffregular();
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  border: none;
  cursor:pointer;
  line-height: normal;
  list-style: none outside none;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:focus {outline:0;}