.table {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}

.table-cell {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

.content-responsive,
.full-size {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

*[hidden],
.undisplay { display: none; }


